.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bg-light{
  background-color: #d6d6d8;
}

.bg-dark{
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

#app-navbar ul{
  list-style-type: none;
  text-align: center;
}

#app-navbar li{
  display: inline;
  text-align: center;
  margin: 0 10px 0 0;
}

#app-navbar li a {
  padding: 6px 17px 6px 17px;
  color: #666;
  background-color: #eeeeee;
  border: 1px solid #ccc;
  text-decoration: none;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: small;
  font-weight: 200;
  border-radius: 12px;
  background-color: #61dafb;
  border: 0pc;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
